name: Sync Labels

on:
  workflow_dispatch:
  push:
    paths:
      - .github/labels.yml

permissions:
  contents: read
  issues: write
  metadata: read

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: GitHub Labeler
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          skip-delete: false
          dry-run: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
